ServerAliveInterval 15
ServerAliveCountMax 3

Host 192.168.1.139
  HostName 192.168.1.139

Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host gitlab.snapp.ir
  HostName gitlab.snapp.ir
  User mohamad.fatemi
  IdentityFile ~/.ssh/id_ed25519

Host asia-doris
  HostName 194.36.174.190
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes

Host digital-de
  HostName 167.99.139.136
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes


Host digital-nl
  HostName 206.189.97.88
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host digital-uk
  HostName 159.65.61.23
  Port 22
  User root
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host azure-eu-west
  HostName 20.13.36.95
  Port 22
  User smf8
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes


Host azure-eu-west-nozone
  HostName 20.229.246.19
  Port 22
  User smf8
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host azure-ch
  HostName 51.103.216.176
  Port 22
  User smf8
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes


Host asia-xaas
  HostName  31.7.75.126
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host asia-doris-2
  HostName 194.36.174.233
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes


Host afranet
  HostName 31.14.116.71
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes