ServerAliveInterval 100
Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentityFile ~/.ssh/id_ed25519

Host gitlab.snapp.ir
  HostName gitlab.snapp.ir
  User mohamad.fatemi
  IdentityFile ~/.ssh/id_ed25519

Host asia-doris
  HostName 194.36.174.190
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
	IdentitiesOnly yes
	
Host digital-nl
  HostName 146.190.30.236
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes


Host digital-uk-2
  HostName 178.62.84.145
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

Host digital-uk
  HostName 138.68.184.5
  Port 22
  User root
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes  


Host asia-xaas
  HostName  31.7.75.126
  Port 22
  User root
	IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes
